<html>
    
    <form method="post">
        
        <table>
            
            <tr>
                <td>
                    <p>Email</p>
                
                </td>
                <td>
                    <input type="text" name="email">
                </td>
            
            </tr>
            <tr>
             <td>
                    <p>Request Balance</p>
                
                </td>
                <td>
                    <input type="text" name="credit">
                </td>
            </tr>
            <tr>
                <td><button type="submit" value="submit">Request</button></td>
            
            </tr>
        
        
        </table>
    
    
    </form>


</html>